/* h2.titleHeader{
    text-align: left;
    padding-left: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}   

.training-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
} */
