h2.titleHeader{
    text-align: left;
    padding-left: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}   

.table_design {
    padding-left: 50px;   
    padding-right: 50px;   
}

.trainingTableContainer{
    align-items: center;
}

.tableHeader:hover {
    background-color: #ffffff;
}
.active-row {
    background-color: #DEEAF8;
}

tr:hover {
    background-color: #EAF2FB;
}

table {
    font-size: 10px;
    width:100%;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    table-layout: auto;
}

th.selectColumn, td.selectColumn{
    width: 40px; 
    text-align: center;
    padding: 0px 10px 0px 10px;
    line-height: 1.2;
    height: 0%;
}

th, td {
    padding: 0px 10px 0px 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
    line-height: 1.2;
    height: 0%;
}

th{
    height:60px;
    background-color: #e8e8e8;
}

input[type="text"] {
    width: 100%;
    font-size: 10px;
    line-break: normal;
}

.rdt_Table {
  border: 1px solid #ccc;
  overflow: hidden;
  
}

.rdt_TableRow {
  border-bottom: 1px solid #ccc;
  
}
.rdt_TableCell {
  border-right: 1px solid #ccc;
  padding:0;
}

.rdt_TableHeadRow .rdt_TableCol {
  border-right: 1px solid #ccc;
}

.rdt_TableHeadRow {
    font-size: 10px;

}
.rdt_TableRow, .rdt_TableCell {
    font-size: 10px;
}

.pagination{
    display:table-cell;
    font-size: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.rows-per-page {
  margin-left: auto;
  display: flex;
  align-items: center; 
  font-size: 10px;
}

.pagination select{
    font-size: 10px;   
    border: 0px; 
}

.pagination button{
    font-size: 12px;    
    padding-top: 0px;
    color: #000000;
    border: 0px;
    cursor: pointer;
    font-weight: bolder;
    height: min-content;
}

.page-controls{
    text-align: center;
    
}

.dashboard-container {
  padding: 20px;
}

.dashboard-table {
  width: 100%;             /* Make table take full width */
  table-layout: fixed;     /* Equal column widths */
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ccc; /* optional: add borders */
  padding: 8px;
  text-align: left;
  overflow: hidden;        /* hide overflow text */
  text-overflow: ellipsis; /* show ... for long text */
  white-space: nowrap;     /* prevent text wrapping */
}


.dashboardDesign{
    
    padding: 50px;
}

.teams-columnar {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* allows horizontal scroll if many teams */
}

.team-column {
  min-width: 250px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

.training-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.tableButton{
    background-color: black;
    width: 100px;
}