.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 650px;
  overflow-y: auto;
  position: relative;
  font-size: 10px;
  text-align: left;
}

.close-btn {
  position: absolute;
  color: gray;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.create-form label {
  display: block;
  margin-bottom: 10px;
}

.create-form input,
.create-form textarea {
  width: 100%;
  font-size: 10px;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  align-items: left;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.create-btn,
.cancel-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn {
  background-color: #007bff;
  color: white;
}

.cancel-btn {
  background-color: #ccc;
}

table {
    font-size: 10px;
    width:100%;
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    table-layout: auto;
}
