/* teamsLayout.css */
.members-layout {
  display: flex;
  gap: 24px;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
  
}

.left-panel {
  flex: 1;
  min-width: 45%;
}

.right-panel {
  flex: 1;
  min-width: 45%;
}

input[type="email"].text-input {
  font-size: 15px;
  padding: 14px 16px;
  box-sizing: border-box;
}
input[type="text"].text-input {
  font-size: 15px;
  padding: 14px 16px;
  box-sizing: border-box;
}