/* trainingLayout.css */
.trainings-layout {
  display: flex;
  gap: 24px;
  padding-right: 50px;
  padding-left: 50px;
 
  height: 100%;
}
.left-panel {
  flex: 1;
  min-width: 45%;
}

.right-panel {
  flex: 1;
  min-width: 45%;
}
    