body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 20px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: start;
  background: #f5f7fa;
  grid-auto-rows: max-content;
}

.kpi-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 0;
}

.kpi-card {
  background: #ffffff;
  padding: 20px 15px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.user-layout {
  display: contents;
}

.user-left {
  grid-column: 1 / 2;
  min-width: 280px;
  max-height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.user-select {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  max-height: fit-content;
}

.user-info-box {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  text-align: left;
  gap: 5px;
  font-size: 15px;
}

.user-info-box h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.user-info-box p {
  margin: 4px 0;
  color: #555;
}

.user-right {
  grid-column: 2 / 5;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.user-left .MuiSelect-root {
  margin-bottom: 20px;
  font-size: 12px;
}

.user-right .MuiButton-root {
  display: flex;
  margin-top: 15px;
  margin-left: auto;
  justify-content: flex-end;
}

.user-left .MuiDataGrid-root,
.user-right .MuiDataGrid-root {
  margin-top: 10px;
  border-radius: 10px;
}

.MuiDataGrid-row:hover {
  background-color: rgba(0, 123, 255, 0.05);
}


.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 6px;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}