/* teamsLayout.css */
.container-layout {
  display: flex;
  gap: 24px;
  padding-right: 50px;
  padding-left: 50px;
  height: auto;
  box-sizing: border-box;
}

.left-panel {
  grid-column: 1;
  min-width: 45%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  max-height: fit-content;
  box-sizing: border-box;
}

.right-panel {
  grid-column: 2;
  min-width: 45%;
  background-color: white; 
  padding: 10px;
  margin-top: 10px;
  max-height: fit-content;
  box-sizing: border-box;
}
